/vs
/.vs
/obj
/bin
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.exe
*.exe.config
.vs
.svn
Settings.cs
packages
bin
obj
vendor
node_modules
Output