html,body{
  background-image: url('https://picfiles.alphacoders.com/286/286447.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -200px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

h1.title {
    text-align: center;
    color: #fff;
    margin: 25px;
    text-shadow: 2px 2px 5px black;
}

.table {
  width: 100%;
  background-color: rgba(213, 233, 255, 0.7);
  text-align: center;
  margin-bottom: 100px;
  border-radius: 15px;
}

table.table>:not(:first-child) {
  border-top: none;
}

.table tbody {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

tr:last-child td {
  border-style: none;
}

.table>thead.main-thead {
  width: 100%;
  font-size: 1.3rem;
  height: 50px;
  vertical-align: middle;
}
.table tr {
  width: 100%;
  vertical-align: middle;
}
.table tr td {
  font-weight: 640;
}
.table thead tr th {
  background-color: #ffbc06d4;
  /* rgba(7, 58, 134, 0.82) */
  color: #fff;
}

div.container {
  z-index: 20;
  padding-bottom: 100px;
}
.main_header {
  display: block;
  height: 65px;
  margin-bottom: 100px;
}

.col1 {
  width: 50px;
}

.col3 {
  width: 100px;
}
.btn.btn-outline-primary {
  font-size: 1.5rem;
  font-weight: 700;
}

div.alert {
  font-size: 1.8rem;
}

button.close {
  float: right;
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f005 \f005 \f005 \f005 \f005";
    color: rgb(145, 145, 145)
}

.stars-inner::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.productTable {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-evenly;
  align-content: space-around;
}

.card {
  margin-bottom: 20px;
}